a {
    text-decoration: none;
    margin: 50px
}

a:hover {
    color: red;
}

#current {
    color: rgb(255, 217, 0);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(38, 38, 38);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(225, 225, 225);
}

section {
    background-color: rgb(38, 38, 38);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
}

.content {
    display: flex;
    flex-direction: row;
}

.side-content {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    margin: 0px;
    padding: 50px 0px 50px 0px;
}

h2 {
    text-align: left;
}

nav {
    background-color: rgb(143, 203, 255);
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid black;
}

.nav-vertical {
    background-color: rgba(48, 48, 48, 0);
    border-bottom: 0px;
    text-align: left;
    padding: 15px 0px 15px 0px;
    margin-top: 0px;
    height: auto;
    width: 100%;
}

.nav-vertical ul {
    padding: 0;
}

.nav-vertical li {
    margin: 15px 0px 15px 0px;
}

nav a {
    text-transform: uppercase;
    color: rgb(225, 225, 225);
}

header {
    background-color: rgb(143, 203, 255);
    text-align: center;
    border-bottom: 1px solid black;
}

img {
    padding: 0px 5px 0px 5px;
}

footer {
    text-align: center;
    background-color: rgb(143, 203, 255);
    padding: 15px 0px 15px 0px;
    margin-bottom: 0px;
    border-top: 1px solid black;
}

article {
    padding: 15px;
    color: rgb(225, 225, 225);
}

p,
h2 {
    padding-top: 15px;
    color: rgb(225, 225, 225);
}

.banners {
    background-color: rgb(28, 28, 28);
}

.surprise {
    color: greenyellow;
    display: none
}

.content-left {
    float: left;
    height: 400px;
    border-right: 1px solid black;
    margin-right: 45px;

}

.content-right {
    height: 450px;
}

ul {
    list-style-type: none;
    text-align: left;
}

.company-logos {
    position: absolute;
    text-align: left;

}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .surprise {
        display: block;
    }
}

@media (max-width: 600px) {
    nav>a {
        margin: 0;
        padding: 0 10px 0 10px;
    }

    .side-content>img {
        width: 200px;
        height: 200px;
    }

    .content-right {
        clear: left;
        height: 40%;
    }

    .content-left li {
        height: 30%;
        width: 200%;

    }

    .content-left {
        border: 0;
        float: none;
        height: 400%;
        width: 50%;
    }

    .nav-vertical {
        float: none;
        display: flex;
        padding: 30%;
        width: 120%;
    }
}

@media (max-width: 400px) {
    .side-content>img {
        display: flex;
    }
}